<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.6/socket.io.js"></script>
    <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
    <script>
    $(document).ready(function(){
      var nowIndex = 0;

      var socket = io.connect('http://' + document.domain + ':' + location.port + '/mynamespace');
      socket.on('response', function(msg){
        if (msg.type == 'Predicted') {
	  var gesture = '';
	  if (msg.data == 1) {
            gesture = 'pinch';
            $("#selected").text(nowIndex);
	  } else if (msg.data == 2){
            gesture = 'wave';
            $("#selected").text("Nothing");
	  } else {
	    gesture = 'nothing';
	  }
	} else if (msg.type == 'System') {
	  console.log(msg.data);
	} else if (msg.type == 'Tilt') {
          if (msg.data == 1) {
            nowIndex++;
            if (nowIndex > $("#list").children().length - 1) {
	      nowIndex = $("#list").children().length - 1;
	    }
            for (var i = 0; i < $("#list").children().length; i++) {
              if (i == nowIndex) {
                $("#list").children().eq(nowIndex).css('background-color', 'lime');
	      } else {
                $("#list").children().eq(i).css('background-color', 'white');
	      }
	    }
	  } else {
            nowIndex--;
            if (nowIndex < 0) {
              nowIndex = 0;
	    }
            for (var i = 0; i < $("#list").children().length; i++) {
              if (i == nowIndex) {
                $("#list").children().eq(nowIndex).css('background-color', 'lime');
	      } else {
                $("#list").children().eq(i).css('background-color', 'white');
	      }
	    }
	  }
	}
      });
    });
    </script>
    <style>
      ul {
        width: 300px;
        height: 500px;
        list-style: none;
      }
      ul li div {
        width: 100%;
        height: 100%;
      }
    </style>
  </head>
  <body>
    <div id="selected">Nothing</div>
    <ul id="list">
      <li><div>1</div></li>
      <li><div>2</div></li>
      <li><div>3</div></li>
      <li><div>4</div></li>
      <li><div>5</div></li>
    </ul>
  </body>
</html>
